/*====== All Custom Variable is Defined Here ======*/
$twitter:                         #52AEFF;
$facebook:                        #3B5998;
$google:                          #F13A30;
$pinterest:                       #d32f2f;
$instagram:                       #8d6e63;
$rss:                             #ff9800;
$tumblr:                          #607d8b;
$linkedin:                        #4875B4;
$dribbble:                        #f06292;
$youtube:                         #d50000;
$github:                          #424242;
$skype:                           #4fc3f7;

$colors: () !default;
$colors: map-merge((
  "twitter":            $twitter,
  "facebook":           $facebook,
  "google":             $google,
  "pinterest":          $pinterest,
  "instagram":          $instagram,
  "rss":                $rss,
  "tumblr":             $tumblr,
  "linkedin":           $linkedin,
  "dribbble":           $dribbble,
  "youtube":            $youtube,
  "github":             $github,
  "skype":              $skype,
), $colors);

// Block Settings
$block-bg:                       $white;
$block-border-radius:            5px;
$block-border:                   none;
$block-spacing:                  1.25rem 1.25rem; //20px 20px;
$block-shadow:                   0 1px 15px 1px rgba(69,65,78,0.08);
$block-hover-shadow:             0 1px 15px 1px rgba(69,65,78,0.08);
$block-margin-bottom:            $grid-gutter-width; //24px
$block-transition:               all 0.4s ease-in-out 0s;

// Gradient Theme Color
$sidebar-dark-gradient:           linear-gradient(0deg, #464D69 0%, rgba(70, 77, 105, 1) 100%);
$sidebar-dark:                    #2E3344;
$overlay-light:                   rgb(255,255,255);
$gradient-primary:                 linear-gradient(180deg, #5D92F4 0%, #09203F 100%); // Primary
$gradient-purple:                  linear-gradient(0deg, #F53844 0%, #42378F 100%); // Purple
$gradient-success:                 linear-gradient(180deg, #00D0BD 0%, #007ADF 100%); // Success
$gradient-warning:                 linear-gradient(0deg, #B02E0C 0%, #FFB70F 100%); // warning
$gradient-danger:                  linear-gradient(0deg, #B02E0C 0%, #FFB70F 100%);// danger

// Social Link Variable
$social-icon-shadow:              0 0 20px 0 rgba(0,0,0,0.19);

$mobile-small: 320px;
$mobile-large: 640px;
$mobile-max:767;

//Cooldex Inner Bank transfer
$coolgradients-icon:            #184afe linear-gradient(180deg, #184afe, #59d4fc) repeat-x;

//Cooldex Active Trades
$coolactivebuy-gradient:        linear-gradient(rgba(18,184,134,.15),rgba(18,184,134,.15));
$coolactivesell-gradient:       linear-gradient(rgba(250,82,82,.15),rgba(250,82,82,.15));

$cooldesk-ourwebsite:               url('../../assets/image/becomememberbg.png');

// $homepage-gradient:  linear-gradient(135deg, rgb(255, 255, 255), rgb(60, 116, 236) 60%, cyan);
$homepage-gradient:  linear-gradient(105deg, rgb(255, 255, 255), rgb(255, 220, 103) 60%, rgb(93, 87, 87));
$aboutpage-gradient:  linear-gradient(85deg, rgb(255, 255, 255), rgb(103, 126, 255) 45%, rgb(127, 127, 127));
$pricepage-gradient:  linear-gradient(85deg, rgb(132, 151, 255), rgb(255, 255, 255) 70%, rgb(233, 159, 130));
$trainerpage-gradient:  linear-gradient(145deg, rgb(65, 65, 65), rgb(127, 127, 127) 50%, rgb(255, 255, 255));
$nofoundpage-gradient:  linear-gradient(145deg, rgb(255, 145, 0), rgb(255, 178, 34) 45%, rgb(0, 0, 0));
.homepage{
  background: $homepage-gradient;
}
.aboutpage{
  background: $aboutpage-gradient;
}
.pricepage{
  background: $pricepage-gradient;
}
.trainerpage{
  background: $trainerpage-gradient;
}
.nofoundpage{
  background: $nofoundpage-gradient;
}
