.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3; }
  .ftco-navbar-light .navbar-brand {
    color: #fff; }
    @media (min-width: 768px) {
      .ftco-navbar-light .navbar-brand {
        color: #fff; } }
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 13px;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 0;
    padding-right: 0;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 1 !important; }

    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 20px;
        padding-right: 20px;
        color: rgba(255, 255, 255, 0.9); }

    .ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #e5ce48; }

    .ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.8) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em; }
      
      .navbar-brand {
        font-size: 22px;
        line-height: 1;
        text-transform: uppercase;
        display: block;
        font-weight: 900; }
        .navbar-brand small {
          text-transform: uppercase;
          font-size: 12px;
          display: block;
          color: #fff;
          letter-spacing: 8px; }

        .btn {
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 13px; }
  .btn.btn-primary {
    background: #e5ce48;
    border: 1px solid #e5ce48;
    color: #000; }

.ftco-appointment {
  width: 100%;
  position: relative; }
  .ftco-appointment .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e5ce48;
    opacity: 0; }

.appointment {
  padding: 20px !important; }
  .appointment h3 {
    color: #000000; }

.appointment-form .form-group {
  position: relative;
  width: 100%;
  display: block; }
  .appointment-form .form-group .icon {
    position: absolute;
    top: 50% !important;
    right: 0;
    font-size: 14px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .appointment-form .form-group .icon span {
      color: #000000 !important; }
  .appointment-form .form-group .select-wrap, .appointment-form .form-group .input-wrap {
    position: relative; }
  .appointment-form .form-group .btn {
    width: 100%;
    display: block !important; }

.appointment-form .form-control {
  border: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  height: 58px !important;
  padding-left: 0;
  padding-right: 0;
  background: transparent !important;
  color: rgba(0, 0, 0, 0.9) !important;
  font-size: 13px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
  .appointment-form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.9); }

.appointment-form textarea.form-control {
  height: inherit !important; }

.form-control {
  height: 58px !important;
  background: transparent !important;
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08) !important;
  padding-right: 0;
  padding-left: 0; }

textarea.form-control {
  height: inherit !important; }


.ftco-about .one-half {
  width: 100%;
  padding: 30px 15px;
  position: relative; }
  .ftco-about .one-half .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: -50px;
    width: 100px;
    height: 100px;
    background: #e5ce48;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .ftco-about .one-half .icon span {
      color: #000;
      font-size: 30px; }
  @media (min-width: 768px) {
    .ftco-about .one-half {
      padding: 8% 13% 8% 5%;
      width: 50%; } }
  .ftco-about .one-half.img {
    display: block; }
    @media (max-width: 767.98px) {
      .ftco-about .one-half.img {
        height: 300px; } }

.ftco-section .ftco-sub-title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .5em;
  color: #d4d4d4;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300; }

.ftco-section .ftco-primary-title {
  margin-top: 0;
  margin-bottom: 30px; }

.about-author .desc h3 {
  font-size: 24px; }

.ftco-section {
  padding: 3em 0 0 0;
  position: relative; }
  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0; } }

.ftco-footer {
  font-size: 16px;}
  .ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .ftco-footer .ftco-footer-widget ul li a span {
    color: rgb(0, 0, 0); }
  .ftco-footer p {
    color: rgba(0, 0, 0, 0.7); }
  .ftco-footer a {
    color: rgba(0, 0, 0, 0.7); }
  .ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #000; }

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; }
  .ftco-footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative; }
    .ftco-footer-social li a span {
      position: absolute;
      font-size: 26px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

#map {
  width: 100%; }

.heading-section {
  z-index: 0; }
  .heading-section .subheading {
    font-size: 16px;
    display: block;
    margin-bottom: 0;
    color: #e5ce48;
    line-height: 1;
    z-index: 1; }
  .heading-section h2 {
    z-index: 1;
    font-size: 34px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase; }
    @media (max-width: 767.98px) {
      .heading-section h2 {
        font-size: 28px; } }
    .heading-section h2 span {
      color: #e5ce48; }

      .hero-wrap,
      .img,
      .blog-img,
      .user-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; }

.block-23 ul {
  padding: 0; }
  .block-23 ul li, .block-23 ul li > a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px; }
  .block-23 ul li span {
    color: rgba(0, 0, 0, 0.7); }
  .block-23 ul li .icon, .block-23 ul li .text {
    display: table-cell;
    vertical-align: top; }
  .block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: white; }


    //section for coach
.coach {
  width: 100%;
  display: block;
  background: #cccccc;
  margin-bottom: 30px; }
  .coach .img, .coach .text {
    width: 50%; }
  @media (max-width: 767.98px) {
    .coach .img, .coach .text {
      width: 100%;
      display: block; }
    .coach .img {
      height: 300px; } }
  .coach .text .subheading {
    font-size: 13px; }
  .coach .text .ftco-social-media {
    padding: 0; }
    .coach .text .ftco-social-media li {
      list-style: none; }
      .coach .text .ftco-social-media li a {
        display: block;
        width: 60px;
        height: 60px;
        background: #262626; }
        .coach .text .ftco-social-media li a span {
          font-size: 24px; }
        .coach .text .ftco-social-media li a:hover, .coach .text .ftco-social-media li a:focus {
          background: #e5ce48; }
          .coach .text .ftco-social-media li a:hover span, .coach .text .ftco-social-media li a:focus span {
            color: #000; }


            //for price table
            
.table {
  width: 100%;
  text-align: center; }
  .table th {
    font-weight: 500; }
  .table .thead-primary {
    background: #e5ce48; }
    .table .thead-primary tr th {
      // padding: 20px 10px;
      color: #000 !important;
      border: 1px solid transparent !important; }
  .table tbody tr td {
    text-align: center !important;
    vertical-align: middle; }
    .table tbody tr td h3 {
      // margin-bottom: 20px;
      font-size: 16px; }
      .table tbody tr td h3 a {
        color: rgba(0, 0, 0, 0.8); }
    .table tbody tr td .at {
      // margin-bottom: 15px;
      display: block;
      color: rgba(255, 255, 255, 0.5); }
    .table tbody tr td .time {
      color: rgba(255, 255, 255, 0.8); }
    .table tbody tr td .trainer {
      color: #fff; }
    .table tbody tr td.color-1 {
      background: #7acfdf; }
    .table tbody tr td.color-2 {
      background: #26baee; }
    .table tbody tr td.color-3 {
      background: #f47645; }
    .table tbody tr td.color-4 {
      background: #12e6c8; }
    .table tbody tr td.color-5 {
      background: #a287f4; }

      //for programm
      
.program {
  width: 100%;
  display: block;
  margin-bottom: 40px; }
  .program .icon {
    width: 100px;
    height: 95px;
    background: #e5ce48;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .program .icon span {
      font-size: 40px;
      color: #000; }
  .program .text {
    width: calc(100% - 100px); }
    .program .text h3 {
      font-size: 20px; }

.package-program {
  margin-bottom: 40px; }
  .package-program .img {
    height: 300px; }
  .package-program .text h3 {
    margin-bottom: 0;
    font-size: 22px; }
  .package-program .text .price {
    width: calc(100% - 100px);
    color: #e5ce48;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .package-program .text .price sub {
      font-size: 13px;
      color: rgba(255, 255, 255, 0.6); }
  .package-program .text .btn-custom {
    width: 150px; }
    .package-program .text .btn-custom a {
      display: block;
      text-align: center;
      width: 100%;
      background: rgba(255, 255, 255, 0.2);
      padding: 10px;
      color: #fff; }
  .package-program:hover .price, .package-program:focus .price {
    border-bottom: 1px solid #e5ce48; }
  .package-program:hover .btn-custom a, .package-program:focus .btn-custom a {
    background: #e5ce48;
    color: #000; }


    // for services

.services .icon {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }
  .services .icon span {
    font-size: 60px;
    color: #000;
    z-index: 1;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease; }
  .services .icon:after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #e5ce48;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.services h3 {
  font-size: 20px;
  margin-bottom: 20px; }

.services:hover .icon:after, .services:focus .icon:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

.services:hover .icon span, .services:focus .icon span {
  font-size: 68px; }

.services-wrap {
  width: 100%;
  display: block; }
  @media (max-width: 991.98px) {
    .services-wrap {
      margin-bottom: 30px; } }
  .services-wrap .img, .services-wrap .text {
    width: 50%; }
  .services-wrap .img {
    display: block; }
  .services-wrap .text {
    background: rgba(0, 0, 0, 0.2);
    position: relative; }
    .services-wrap .text h3 {
      font-size: 20px; }
    .services-wrap .text .price {
      font-size: 16px;
      margin-bottom: 0; }
      .services-wrap .text .price span {
        color: #e5ce48; }

        //for customer review
        
#ftco-testimony {
  padding-bottom: 0;
  position: relative;
  z-index: 0; }
  @media (max-width: 1199.98px) {
    #ftco-testimony.img {
      background-position: center center !important; } }
  #ftco-testimony > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5; }
  .testimony .author .image {
    width: 40px; }
    .testimony .author .image img {
      border-radius: 50%;
      max-width: 100%; }
  .testimony .author .position {
    display: block;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6); }

    //for counter
    
.ftco-counter {
  padding: 7em 0; }
  @media (max-width: 1199.98px) {
    .ftco-counter {
      background-position: center center !important; } }
  .ftco-counter .icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
    background: #cccccc;
    z-index: 0; }
    .ftco-counter .icon:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      bordeR: 1px solid #e5ce48;
      z-index: -1;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .ftco-counter .icon span {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #e5ce48; }
  .ftco-counter .text strong.number {
    font-weight: 500;
    font-size: 50px;
    color: #e5ce48; }
  .ftco-counter .text span {
    font-weight: 400;
    font-size: 14px; }
  .ftco-counter .text:hover .icon span, .ftco-counter .text:focus .icon span {
    color: #000; }
  .ftco-counter .text:hover .icon:after, .ftco-counter .text:focus .icon:after {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    background: #e5ce48; }
  @media (max-width: 991.98px) {
    .ftco-counter .counter-wrap {
      margin-bottom: 40px !important; } }
  .ftco-counter .ftco-number {
    display: block;
    color: #fff; }
  .ftco-counter .ftco-label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em; }

.block-18 .icon > span {
  font-size: 40px; }

.block-18 .text strong {
  font-size: 30px; }

.block-18 .text span {
  display: block; }

  .become_member_text{
    p{
      color: #fff;
    }
  }

  .table{
  td, tr{
    border: 2px solid #000000 !important;
  }}


  .lifestyle-text{
    margin-top: 140px;
  }