.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3; }
  @media (max-width: 991.98px) {
    .ftco-navbar-light {
      background: #000 !important;
      position: relative;
      top: 0; } }
  .ftco-navbar-light .navbar-brand {
    color: #fff; }
    @media (min-width: 768px) {
      .ftco-navbar-light .navbar-brand {
        color: #fff; } }
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 13px;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 0;
    padding-right: 0;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 1 !important; }
    @media (min-width: 768px) {
      .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 20px;
        padding-right: 20px;
        color: rgba(255, 255, 255, 0.9); } }
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover, .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:focus {
      color: #e5ce48; }
      .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover:after, .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:focus:after {
        opacity: 1; }
  .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
    border: none;
    background: #000;
    border-radius: 0;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41); }
    .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
      font-size: 13px;
      color: rgba(255, 255, 255, 0.5);
      background: #0d0d0d; }
      .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover, .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
        color: #fff; }
  .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
    position: relative;
    margin-left: 20px;
    padding-left: 20px; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
        padding-left: 0;
        margin-left: 0; } }
    .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
      position: absolute;
      content: "";
      top: 10px;
      bottom: 10px;
      left: 0;
      width: 2px;
      background: rgba(255, 255, 255, 0.05); }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
          display: none; } }
  @media (max-width: 767.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.cta {
      margin-bottom: 20px; } }
  .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    color: #fff;
    border: 1px solid #e5ce48;
    background: #e5ce48;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 4px;
    position: relative;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px; }
    .ftco-navbar-light .navbar-nav > .nav-item.cta > a span {
      display: inline-block;
      color: #fff; }
    .ftco-navbar-light .navbar-nav > .nav-item.cta > a:hover {
      background: #e5ce48;
      border: 1px solid #e5ce48; }
  .ftco-navbar-light .navbar-nav > .nav-item.cta.cta-colored span {
    border-color: #e5ce48; }
  .ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #e5ce48; }
    .ftco-navbar-light .navbar-nav > .nav-item.active > a:after {
      opacity: 1;
      background: #e5ce48; }
  .ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.8) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em; }
    .ftco-navbar-light .navbar-toggler:hover, .ftco-navbar-light .navbar-toggler:focus {
      outline: none !important; }
  .ftco-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #000 !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: none; }
    .ftco-navbar-light.scrolled .nav-item > .nav-link {
      color: #fff !important; }
    .ftco-navbar-light.scrolled .nav-item.active > a {
      color: #e5ce48 !important; }
    .ftco-navbar-light.scrolled .nav-item.cta > a {
      color: #fff !important;
      background: #e5ce48;
      border: none !important;
      padding-top: 0.5rem !important;
      padding-bottom: .5rem !important;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 6px !important;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px; }
      .ftco-navbar-light.scrolled .nav-item.cta > a span {
        display: inline-block;
        color: #fff !important; }
    .ftco-navbar-light.scrolled .nav-item.cta.cta-colored span {
      border-color: #e5ce48; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light.scrolled .navbar-nav {
        background: none;
        border-radius: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important; } }
    @media (max-width: 767.98px) {
      .ftco-navbar-light.scrolled .navbar-nav {
        background: none;
        padding-left: 0 !important;
        padding-right: 0 !important; } }
    .ftco-navbar-light.scrolled .navbar-toggler {
      border: none;
      color: rgba(255, 255, 255, 0.8) !important;
      border-color: rgba(0, 0, 0, 0.5) !important;
      cursor: pointer;
      padding-right: 0;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: .1em; }
    .ftco-navbar-light.scrolled .nav-link {
      padding-top: 0.9rem !important;
      padding-bottom: 0.9rem !important;
      color: #000 !important; }
      .ftco-navbar-light.scrolled .nav-link.active {
        color: #e5ce48 !important; }
    .ftco-navbar-light.scrolled.awake {
      margin-top: 0px;
      -webkit-transition: .3s all ease-out;
      -o-transition: .3s all ease-out;
      transition: .3s all ease-out; }
    .ftco-navbar-light.scrolled.sleep {
      -webkit-transition: .3s all ease-out;
      -o-transition: .3s all ease-out;
      transition: .3s all ease-out; }
    .ftco-navbar-light.scrolled .navbar-brand {
      color: #fff; }

.navbar-brand {
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  display: block;
  font-weight: 900; }
  .navbar-brand small {
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    color: #fff;
    letter-spacing: 8px; }

.owl-carousel {
  position: relative; }
  .owl-carousel .owl-item {
    opacity: .4; }
    .owl-carousel .owl-item.active {
      opacity: 1; }
  .owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    border: 1px solid red; }
    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
      position: absolute;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-top: -10px;
      color: #e5ce48 !important;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      -webkit-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
      transition: all 0.7s ease;
      opacity: 0; }
      .owl-carousel .owl-nav .owl-prev span:before,
      .owl-carousel .owl-nav .owl-next span:before {
        font-size: 30px; }
    .owl-carousel .owl-nav .owl-prev {
      left: 0; }
    .owl-carousel .owl-nav .owl-next {
      right: 0; }
  .owl-carousel:hover .owl-nav .owl-prev,
  .owl-carousel:hover .owl-nav .owl-next {
    opacity: 1; }
  .owl-carousel:hover .owl-nav .owl-prev {
    left: -25px; }
  .owl-carousel:hover .owl-nav .owl-next {
    right: -25px; }
  .owl-carousel.home-slider {
    position: relative;
    height: 750px;
    z-index: 0; }
    .owl-carousel.home-slider .slider-item {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 750px;
      position: relative;
      z-index: 0; }
      @media (max-width: 1199.98px) {
        .owl-carousel.home-slider .slider-item {
          background-position: center center !important; } }
      .owl-carousel.home-slider .slider-item .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000;
        opacity: .3; }
      .owl-carousel.home-slider .slider-item .slider-text {
        color: #fff;
        height: 750px; }
        .owl-carousel.home-slider .slider-item .slider-text .subheading {
          font-size: 30px;
          color: #e5ce48; }
        .owl-carousel.home-slider .slider-item .slider-text h1 {
          text-transform: uppercase;
          font-size: 50px;
          color: #fff;
          line-height: 1.5;
          font-weight: normal;
          letter-spacing: 1px;
          font-weight: 900; }
          .owl-carousel.home-slider .slider-item .slider-text h1 strong {
            color: #fff;
            font-size: 50px; }
          @media (max-width: 991.98px) {
            .owl-carousel.home-slider .slider-item .slider-text h1 {
              font-size: 30px; } }
        .owl-carousel.home-slider .slider-item .slider-text p {
          font-size: 18px;
          line-height: 1.5;
          font-weight: 300;
          color: white; }
          .owl-carousel.home-slider .slider-item .slider-text p.sub-p {
            font-weight: 400; }
          .owl-carousel.home-slider .slider-item .slider-text p strong {
            font-weight: 700; }
            .owl-carousel.home-slider .slider-item .slider-text p strong a {
              color: #fff; }
        .owl-carousel.home-slider .slider-item .slider-text .unstyled-list {
          width: 50%;
          padding: 0; }
          .owl-carousel.home-slider .slider-item .slider-text .unstyled-list li {
            list-style: none; }
        .owl-carousel.home-slider .slider-item .slider-text .breadcrumbs {
          text-transform: uppercase;
          font-size: 13px;
          letter-spacing: 1px; }
          .owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span {
            border-bottom: 2px solid rgba(255, 255, 255, 0.1); }
            .owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span a {
              color: #fff; }
    .owl-carousel.home-slider .owl-nav .owl-prev span,
    .owl-carousel.home-slider .owl-nav .owl-next span {
      color: #fff; }
    .owl-carousel.home-slider:hover .owl-nav .owl-prev,
    .owl-carousel.home-slider:hover .owl-nav .owl-next {
      opacity: 1; }
    .owl-carousel.home-slider:hover .owl-nav .owl-prev {
      left: 20px; }
    .owl-carousel.home-slider:hover .owl-nav .owl-next {
      right: 20px; }
    .owl-carousel.home-slider .owl-dots {
      position: absolute;
      left: 1%;
      right: 0;
      bottom: 25%;
      width: 4%;
      text-align: center; }
      @media (max-width: 767.98px) {
        .owl-carousel.home-slider .owl-dots {
          bottom: 5px;
          width: 100%;
          left: 0; } }
      .owl-carousel.home-slider .owl-dots .owl-dot {
        width: 18px !important;
        height: 18px !important;
        margin: 5px;
        border-radius: 50%;
        background: #e6e6e6;
        background: none;
        border: 2px solid rgba(255, 255, 255, 0.5);
        outline: none !important;
        position: relative;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        display: block; }
        @media (max-width: 767.98px) {
          .owl-carousel.home-slider .owl-dots .owl-dot {
            display: inline-block; } }
        .owl-carousel.home-slider .owl-dots .owl-dot span {
          position: absolute;
          width: 12px;
          height: 12px;
          background: rgba(255, 255, 255, 0.5);
          border-radius: 50% !important;
          left: 50%;
          top: 50%;
          display: block;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
        .owl-carousel.home-slider .owl-dots .owl-dot.active {
          border: 2px solid white; }
          .owl-carousel.home-slider .owl-dots .owl-dot.active span {
            background: white; }

.bg-light {
  background: #fafafa !important; }

.ftco-no-pt {
  padding-top: 0 !important; }

.ftco-no-pb {
  padding-bottom: 0 !important; }

.bg-primary {
  background: #e5ce48; }

.btn {
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 13px; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none; }
  .btn.btn-primary {
    background: #e5ce48;
    border: 1px solid #e5ce48;
    color: #000; }
    .btn.btn-primary:hover {
      border: 1px solid #e5ce48;
      background: transparent;
      color: #e5ce48; }
    .btn.btn-primary.btn-outline-primary {
      border: 1px solid #e5ce48;
      background: transparent;
      color: #e5ce48; }
      .btn.btn-primary.btn-outline-primary:hover {
        border: 1px solid transparent;
        background: #e5ce48;
        color: #fff; }
  .btn.btn-white {
    background: #fff;
    border: 1px solid #fff;
    color: #000; }
    .btn.btn-white:hover {
      border: 1px solid #000;
      background: #000;
      color: #fff; }
    .btn.btn-white.btn-outline-white {
      border-color: rgba(255, 255, 255, 0.8);
      background: none;
      border-width: 1px;
      color: #fff; }
      .btn.btn-white.btn-outline-white:hover, .btn.btn-white.btn-outline-white:focus, .btn.btn-white.btn-outline-white:active {
        background: #e5ce48;
        border-color: #e5ce48;
        color: #000; }
  .btn.btn-outline-black {
    border-color: black;
    background: none;
    border-width: 1px;
    color: #000; }
    .btn.btn-outline-black:hover, .btn.btn-outline-black:focus, .btn.btn-outline-black:active {
      background: #000;
      border-color: #000;
      color: #fff; }

@media (min-width: 992px) {
  .ftco-intro {
    margin-top: -171px; } }

.ftco-intro .container-wrap {
  z-index: 0;
  position: relative; }

.ftco-intro .wrap {
  width: 100%; }
  .ftco-intro .wrap .info {
    background: #e5ce48;
    padding: 30px;
    color: #404040; }
    @media (min-width: 1200px) {
      .ftco-intro .wrap .info {
        width: calc(100% - 50%); } }
    @media (max-width: 767.98px) {
      .ftco-intro .wrap .info {
        width: 100%; } }
    .ftco-intro .wrap .info p {
      margin-bottom: 0; }
  .ftco-intro .wrap h3 {
    font-size: 16px;
    color: #000; }
  .ftco-intro .wrap .text {
    width: calc(100% - 40px); }
  .ftco-intro .wrap .icon {
    width: 40px; }
    .ftco-intro .wrap .icon span {
      color: #000;
      font-size: 20px; }

.ftco-about .one-half {
  width: 100%;
  padding: 30px 15px;
  position: relative; }
  .ftco-about .one-half .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: -50px;
    width: 100px;
    height: 100px;
    background: #e5ce48;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .ftco-about .one-half .icon span {
      color: #000;
      font-size: 30px; }
  @media (min-width: 768px) {
    .ftco-about .one-half {
      padding: 8% 13% 8% 5%;
      width: 50%; } }
  .ftco-about .one-half.img {
    display: block; }
    @media (max-width: 767.98px) {
      .ftco-about .one-half.img {
        height: 300px; } }

.services .icon {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }
  .services .icon span {
    font-size: 60px;
    color: #000;
    z-index: 1;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease; }
  .services .icon:after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #e5ce48;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.services h3 {
  font-size: 20px;
  margin-bottom: 20px; }

.services:hover .icon:after, .services:focus .icon:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

.services:hover .icon span, .services:focus .icon span {
  font-size: 68px; }

.services-wrap {
  width: 100%;
  display: block; }
  @media (max-width: 991.98px) {
    .services-wrap {
      margin-bottom: 30px; } }
  .services-wrap .img, .services-wrap .text {
    width: 50%; }
  .services-wrap .img {
    display: block; }
  .services-wrap .text {
    background: rgba(0, 0, 0, 0.2);
    position: relative; }
    .services-wrap .text h3 {
      font-size: 20px; }
    .services-wrap .text .price {
      font-size: 16px;
      margin-bottom: 0; }
      .services-wrap .text .price span {
        color: #e5ce48; }

.ftco-gallery {
  padding: 0; }

.gallery {
  display: block;
  height: 300px;
  position: relative; }
  .gallery .icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    z-index: 0;
    opacity: 0;
    position: relative;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease; }
    .gallery .icon:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 50px;
      height: 50px;
      content: '';
      background: #e5ce48;
      z-index: -1;
      -moz-transition: all 0.6s ease;
      -o-transition: all 0.6s ease;
      -webkit-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
      transition: all 0.6s ease; }
    .gallery .icon span {
      color: #fff; }
  .gallery:hover .icon, .gallery:focus .icon {
    opacity: 1; }
    .gallery:hover .icon:after, .gallery:focus .icon:after {
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg); }

.program {
  width: 100%;
  display: block;
  margin-bottom: 40px; }
  .program .icon {
    width: 100px;
    height: 95px;
    background: #e5ce48;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .program .icon span {
      font-size: 40px;
      color: #000; }
  .program .text {
    width: calc(100% - 100px); }
    .program .text h3 {
      font-size: 20px; }

.package-program {
  margin-bottom: 40px; }
  .package-program .img {
    height: 300px; }
  .package-program .text h3 {
    margin-bottom: 0;
    font-size: 22px; }
  .package-program .text .price {
    width: calc(100% - 100px);
    color: #e5ce48;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .package-program .text .price sub {
      font-size: 13px;
      color: rgba(255, 255, 255, 0.6); }
  .package-program .text .btn-custom {
    width: 150px; }
    .package-program .text .btn-custom a {
      display: block;
      text-align: center;
      width: 100%;
      background: rgba(255, 255, 255, 0.2);
      padding: 10px;
      color: #fff; }
  .package-program:hover .price, .package-program:focus .price {
    border-bottom: 1px solid #e5ce48; }
  .package-program:hover .btn-custom a, .package-program:focus .btn-custom a {
    background: #e5ce48;
    color: #000; }

.coach {
  width: 100%;
  display: block;
  background: #000;
  margin-bottom: 30px; }
  .coach .img, .coach .text {
    width: 50%; }
  @media (max-width: 767.98px) {
    .coach .img, .coach .text {
      width: 100%;
      display: block; }
    .coach .img {
      height: 300px; } }
  .coach .text .subheading {
    font-size: 13px; }
  .coach .text .ftco-social-media {
    padding: 0; }
    .coach .text .ftco-social-media li {
      list-style: none; }
      .coach .text .ftco-social-media li a {
        display: block;
        width: 60px;
        height: 60px;
        background: #262626; }
        .coach .text .ftco-social-media li a span {
          font-size: 24px; }
        .coach .text .ftco-social-media li a:hover, .coach .text .ftco-social-media li a:focus {
          background: #e5ce48; }
          .coach .text .ftco-social-media li a:hover span, .coach .text .ftco-social-media li a:focus span {
            color: #000; }

.sched-list {
  overflow-x: scroll; }

.table {
  min-width: 1000px !important;
  width: 100%;
  text-align: center; }
  .table th {
    font-weight: 500; }
  .table .thead-primary {
    background: #e5ce48; }
    .table .thead-primary tr th {
      padding: 20px 10px;
      color: #000 !important;
      border: 1px solid transparent !important; }
  .table tbody tr td {
    text-align: center !important;
    vertical-align: middle;
    padding: 40px 10px;
    border: 1px solid transparent !important; }
    .table tbody tr td h3 {
      margin-bottom: 20px;
      font-size: 16px; }
      .table tbody tr td h3 a {
        color: rgba(255, 255, 255, 0.8); }
    .table tbody tr td .at {
      margin-bottom: 15px;
      display: block;
      color: rgba(255, 255, 255, 0.5); }
    .table tbody tr td .time {
      color: rgba(255, 255, 255, 0.8); }
    .table tbody tr td .trainer {
      color: #fff; }
    .table tbody tr td.color-1 {
      background: #7acfdf; }
    .table tbody tr td.color-2 {
      background: #26baee; }
    .table tbody tr td.color-3 {
      background: #f47645; }
    .table tbody tr td.color-4 {
      background: #12e6c8; }
    .table tbody tr td.color-5 {
      background: #a287f4; }

.ftco-appointment {
  width: 100%;
  position: relative; }
  .ftco-appointment .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e5ce48;
    opacity: 0; }

.appointment {
  padding: 20px !important; }
  @media (min-width: 768px) {
    .appointment {
      padding: 7% 12% 7% 5% !important; } }
  .appointment h3 {
    color: #000000; }

.appointment-form .form-group {
  position: relative;
  width: 100%;
  display: block; }
  .appointment-form .form-group .icon {
    position: absolute;
    top: 50% !important;
    right: 0;
    font-size: 14px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .appointment-form .form-group .icon span {
      color: #000000 !important; }
  .appointment-form .form-group .select-wrap, .appointment-form .form-group .input-wrap {
    position: relative; }
    .appointment-form .form-group .select-wrap select, .appointment-form .form-group .input-wrap select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
  .appointment-form .form-group .btn {
    width: 100%;
    display: block !important; }

.appointment-form .form-control {
  border: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  height: 58px !important;
  padding-left: 0;
  padding-right: 0;
  background: transparent !important;
  color: rgba(0, 0, 0, 0.9) !important;
  font-size: 13px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
  .appointment-form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.9); }
  .appointment-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.9); }
  .appointment-form .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.9); }
  .appointment-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.9); }
  .appointment-form .form-control:focus, .appointment-form .form-control:active {
    border-color: #fff; }

.appointment-form textarea.form-control {
  height: inherit !important; }

.staff {
  padding: 25px;
  bordeR: 1px solid #282306;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  @media (max-width: 767.98px) {
    .staff {
      margin-bottom: 30px; } }
  .staff .info {
    width: 100%; }
    .staff .info h3 {
      font-size: 15px;
      text-transform: uppercase; }
      .staff .info h3 a {
        color: #e5ce48; }
    .staff .info span.position {
      display: block;
      margin-bottom: 15px;
      font-size: 12px;
      font-weight: 400;
      color: #cccccc; }
  .staff .img {
    width: 140px;
    height: 140px;
    border: 1px solid #554a0c;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .staff:hover, .staff:focus {
    -webkit-box-shadow: 0px 3px 66px -24px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 66px -24px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 66px -24px rgba(0, 0, 0, 0.2);
    border: 1px solid #e5ce48; }
    .staff:hover .img, .staff:focus .img {
      border: 1px solid #e5ce48; }

#ftco-testimony {
  padding-bottom: 0;
  position: relative;
  z-index: 0; }
  @media (max-width: 1199.98px) {
    #ftco-testimony.img {
      background-position: center center !important; } }
  #ftco-testimony > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5; }

.testimony {
  background: #e5ce48;
  padding: 2em;
  color: #fff; }
  .testimony.overlay {
    position: relative;
    z-index: 0; }
    .testimony.overlay:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background: #000;
      opacity: .1;
      z-index: -1; }
  .testimony .author .image {
    width: 40px; }
    .testimony .author .image img {
      border-radius: 50%;
      max-width: 100%; }
  .testimony .author .position {
    display: block;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6); }

.ftco-social a {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 2px;
  background: #fefefb;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }
  .ftco-social a span {
    color: #e5ce48; }

.form-control {
  height: 58px !important;
  background: transparent !important;
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08) !important;
  padding-right: 0;
  padding-left: 0; }
  .form-control:focus, .form-control:active {
    border-color: #e5ce48; }

textarea.form-control {
  height: inherit !important; }

.bg-primary {
  background: #e5ce48 !important; }

.ftco-section .ftco-sub-title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .5em;
  color: #d4d4d4;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300; }

.ftco-section .ftco-primary-title {
  margin-top: 0;
  margin-bottom: 30px; }

.about-author .desc h3 {
  font-size: 24px; }

.ftco-section {
  padding: 7em 0;
  position: relative; }
  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0; } }

.ftco-bg-dark {
  background: #090808; }

.ftco-footer {
  font-size: 16px;
  padding: 7em 0;
  background: #120f0f; }
  .ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em; }
  .ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .ftco-footer .ftco-footer-widget ul li a span {
    color: #fff; }
  .ftco-footer .ftco-footer-widget .btn-primary {
    background: #fff !important;
    border: 2px solid #fff !important; }
    .ftco-footer .ftco-footer-widget .btn-primary:hover {
      background: #fff;
      border: 2px solid #fff !important; }
  .ftco-footer p {
    color: rgba(255, 255, 255, 0.7); }
  .ftco-footer a {
    color: rgba(255, 255, 255, 0.7); }
    .ftco-footer a:hover {
      color: #fff; }
  .ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #000; }
  .ftco-footer .block-21 .text .heading {
    font-size: 16px;
    font-weight: 300; }
    .ftco-footer .block-21 .text .heading a {
      color: rgba(255, 255, 255, 0.9); }
      .ftco-footer .block-21 .text .heading a:hover, .ftco-footer .block-21 .text .heading a:active, .ftco-footer .block-21 .text .heading a:focus {
        color: #e5ce48; }
  .ftco-footer .block-21 .text .meta > div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px; }
    .ftco-footer .block-21 .text .meta > div a {
      color: gray; }

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; }
  .ftco-footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative; }
    .ftco-footer-social li a span {
      position: absolute;
      font-size: 26px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .ftco-footer-social li a:hover {
      color: #fff; }

#map {
  width: 100%; }
  #map.map {
    height: 400px; }
  @media (max-width: 991.98px) {
    #map {
      height: 300px; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(229, 206, 72, 0.2); }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(229, 206, 72, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(229, 206, 72, 0); } }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(229, 206, 72, 0.2);
    -webkit-box-shadow: 0 0 0 0 rgba(229, 206, 72, 0.2);
    box-shadow: 0 0 0 0 rgba(229, 206, 72, 0.2); }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba(229, 206, 72, 0);
    -webkit-box-shadow: 0 0 0 30px rgba(229, 206, 72, 0);
    box-shadow: 0 0 0 30px rgba(229, 206, 72, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(229, 206, 72, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(229, 206, 72, 0);
    box-shadow: 0 0 0 0 rgba(229, 206, 72, 0); } }

.heading-section {
  z-index: 0; }
  .heading-section .subheading {
    font-size: 16px;
    display: block;
    margin-bottom: 0;
    color: #e5ce48;
    line-height: 1;
    z-index: 1; }
  .heading-section h2 {
    z-index: -1;
    font-size: 34px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase; }
    @media (max-width: 767.98px) {
      .heading-section h2 {
        font-size: 28px; } }
    .heading-section h2 span {
      color: #e5ce48; }

.hero-wrap,
.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

@media (max-width: 767.98px) {
  .img-about {
    height: 400px;
    margin-bottom: 30px; } }

.image-popup {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1; }

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0; }

#section-counter {
  position: relative;
  z-index: 0; }
  #section-counter .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5; }

.ftco-counter {
  padding: 7em 0; }
  @media (max-width: 1199.98px) {
    .ftco-counter {
      background-position: center center !important; } }
  .ftco-counter .icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
    z-index: 0; }
    .ftco-counter .icon:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      bordeR: 1px solid #e5ce48;
      z-index: -1;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .ftco-counter .icon span {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #e5ce48; }
  .ftco-counter .text strong.number {
    font-weight: 500;
    font-size: 50px;
    color: #e5ce48; }
  .ftco-counter .text span {
    font-weight: 400;
    font-size: 14px; }
  .ftco-counter .text:hover .icon span, .ftco-counter .text:focus .icon span {
    color: #000; }
  .ftco-counter .text:hover .icon:after, .ftco-counter .text:focus .icon:after {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    background: #e5ce48; }
  @media (max-width: 991.98px) {
    .ftco-counter .counter-wrap {
      margin-bottom: 40px !important; } }
  .ftco-counter .ftco-number {
    display: block;
    color: #fff; }
  .ftco-counter .ftco-label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em; }

.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 270px; }

.blog-entry {
  overflow: hidden; }
  @media (min-width: 768px) {
    .blog-entry {
      margin-bottom: 30px; } }
  @media (max-width: 767.98px) {
    .blog-entry {
      margin-bottom: 30px; } }
  .blog-entry .text {
    position: relative; }
    .blog-entry .text .heading {
      font-size: 18px;
      margin-bottom: 16px;
      font-weight: 400; }
      .blog-entry .text .heading a {
        color: #fff; }
        .blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
          color: #e5ce48; }
  .blog-entry .meta > div {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
    font-size: 14px; }
    .blog-entry .meta > div a {
      color: gray;
      font-size: 15px; }
      .blog-entry .meta > div a:hover {
        color: #666666; }

.block-23 ul {
  padding: 0; }
  .block-23 ul li, .block-23 ul li > a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px; }
  .block-23 ul li span {
    color: rgba(255, 255, 255, 0.7); }
  .block-23 ul li .icon, .block-23 ul li .text {
    display: table-cell;
    vertical-align: top; }
  .block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: white; }

.block-6 {
  margin-bottom: 40px; }

.block-18 .icon > span {
  font-size: 40px; }

.block-18 .text strong {
  font-size: 30px; }

.block-18 .text span {
  display: block; }

.block-27 ul {
  padding: 0;
  margin: 0; }
  .block-27 ul li {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400; }
    .block-27 ul li a, .block-27 ul li span {
      color: #e5ce48;
      text-align: center;
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      border: 1px solid #827112; }
    .block-27 ul li.active a, .block-27 ul li.active span {
      background: #e5ce48;
      color: #fff;
      border: 1px solid transparent; }

.contact-section .contact-info p span {
  color: #fff; }

.contact-form .form-group {
  position: relative; }

.contact-form .form-control {
  border: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08) !important;
  height: 58px !important;
  padding-left: 0;
  padding-right: 0;
  background: transparent !important;
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 13px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
  .contact-form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.9); }
  .contact-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.9); }
  .contact-form .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.9); }
  .contact-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.9); }
  .contact-form .form-control:focus, .contact-form .form-control:active {
    border-color: #e5ce48 !important; }

.contact-form textarea.form-control {
  height: inherit !important; }

.block-9 .form-control {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px; }

.block-21 .blog-img {
  display: block;
  height: 80px;
  width: 80px; }

.block-21 .text {
  width: calc(100% - 100px); }
  .block-21 .text .heading {
    font-size: 16px; }
    .block-21 .text .heading a {
      color: #cccccc; }
      .block-21 .text .heading a:hover, .block-21 .text .heading a:active, .block-21 .text .heading a:focus {
        color: #e5ce48; }
  .block-21 .text .meta > div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px; }
    .block-21 .text .meta > div a {
      color: gray; }

.custom-pagination {
  width: 100%;
  text-align: center;
  display: inline-block; }
  .custom-pagination li {
    display: inline-block; }
  .custom-pagination .prev a, .custom-pagination .next a {
    font-size: 20px !important;
    line-height: 38px !important; }
  .custom-pagination li a, .custom-pagination .prev a, .custom-pagination .next a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 50% !important;
    font-size: 16px; }
  .custom-pagination li.active a, .custom-pagination .prev.active a, .custom-pagination .next.active a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 50% !important;
    font-size: 16px;
    background: #e5ce48;
    color: #fff; }
    .custom-pagination li.active a:hover, .custom-pagination li.active a:focus, .custom-pagination .prev.active a:hover, .custom-pagination .prev.active a:focus, .custom-pagination .next.active a:hover, .custom-pagination .next.active a:focus {
      color: #fff; }
  .custom-pagination .prev {
    float: left; }
  .custom-pagination .next {
    float: right; }

/* Blog*/
.post-info {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  letter-spacing: .1em; }
  .post-info > div {
    display: inline-block; }
    .post-info > div .seperator {
      display: inline-block;
      margin: 0 10px;
      opacity: .5; }

.tagcloud a {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  color: #b3b3b3;
  border: 1px solid #827112;
  font-size: 11px; }
  .tagcloud a:hover {
    border: 1px solid #000; }

.comment-form-wrap {
  clear: both; }

.comment-list {
  padding: 0;
  margin: 0; }
  .comment-list .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%; }
  .comment-list li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none; }
    .comment-list li .vcard {
      width: 80px;
      float: left; }
      .comment-list li .vcard img {
        width: 50px;
        border-radius: 50%; }
    .comment-list li .comment-body {
      float: right;
      width: calc(100% - 80px); }
      .comment-list li .comment-body h3 {
        font-size: 20px; }
      .comment-list li .comment-body .meta {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: .1em;
        color: #ccc; }
      .comment-list li .comment-body .reply {
        padding: 5px 10px;
        background: #141414;
        color: #fff;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: .1em;
        font-weight: 400;
        border-radius: 4px; }
        .comment-list li .comment-body .reply:hover {
          color: #fff;
          background: black; }

.search-form .form-group {
  position: relative; }
  .search-form .form-group input {
    font-size: 14px;
    padding-right: 50px;
    background: transparent !important;
    border: none;
    border-bottom: 1px solid #e5ce48;
    color: rgba(255, 255, 255, 0.7); }
    .search-form .form-group input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(255, 255, 255, 0.7); }
    .search-form .form-group input::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.7); }
    .search-form .form-group input:-ms-input-placeholder {
      /* IE 10+ */
      color: rgba(255, 255, 255, 0.7); }
    .search-form .form-group input:-moz-placeholder {
      /* Firefox 18- */
      color: rgba(255, 255, 255, 0.7); }

.search-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  float: left; }
  .sidebar-box *:last-child {
    margin-bottom: 0; }
  .sidebar-box h3 {
    font-size: 18px;
    margin-bottom: 15px; }

.categories li, .sidelink li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  list-style: none; }
  .categories li:last-child, .sidelink li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0; }
  .categories li a, .sidelink li a {
    display: block;
    color: #cccccc; }
    .categories li a span, .sidelink li a span {
      position: absolute;
      right: 0;
      top: 0;
      color: #ccc; }
  .categories li.active a, .sidelink li.active a {
    color: #000;
    font-style: italic; }

#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#ftco-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#ftco-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }
