/**************** extend css start ****************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700|Teko:400,500,600,700");
/* line 2, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_extends.scss */
.submit_btn, .btn_1 {
  background-image: linear-gradient(to right, #fc561c 1%, #fa0347 50%, #fc561c 100%);
  background-size: 200% auto;
}

/* line 37, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_extends.scss */
.about_us .single_feature_item .feature_item_icon span {
  background-image: -moz-linear-gradient(45deg, #fa0347 1%, #fc561c 99%);
  background-image: -webkit-linear-gradient(45deg, #fa0347 1%, #fc561c 99%);
  background-image: -ms-linear-gradient(45deg, #fa0347 1%, #fc561c 99%);
}

/**************** extend css start ****************/
/**************** common css start ****************/
/* line 3, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_common.scss */
body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

/* line 71, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_common.scss */
a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 82, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_common.scss */
h1, h2, h3, h4, h5, h6 {
  color: #2c3033;
  font-family: "Teko", sans-serif;
}

/* line 86, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_common.scss */
p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.857;
  font-size: 14px;
  margin-bottom: 0px;
  color: #000000;
}

/* line 95, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_common.scss */
h2 {
  font-size: 44px;
  line-height: 28px;
  color: #2c3033;
  font-weight: 600;
  line-height: 1.222;
}

/* line 112, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_common.scss */
h3 {
  font-size: 24px;
  line-height: 25px;
}

/* line 134, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_common.scss */
img {
  max-width: 100%;
}

/* line 144, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_common.scss */
.section_tittle {
  margin-bottom: 45px;
  text-align: center;
}

/* line 159, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_common.scss */
.section_tittle h2 {
  font-size: 40px;
  color: #2c3033;
  line-height: 1.25;
  font-weight: 700;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  margin-bottom: 13px;
}

/* line 185, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_common.scss */
.section_tittle p {
  color: #555555;
  font-size: 16px;
  margin-bottom: 23px;
  font-weight: 600;
  color: #fa0347;
  text-transform: uppercase;
  line-height: 13px;
}

/* line 207, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_common.scss */
.section_tittle span {
  font-weight: 400;
  color: #666666;
  line-height: 1.857;
  font-size: 14px;
}

/* line 23, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_button.scss */
.btn_1 {
  display: inline-block;
  padding: 11.5px 33px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: uppercase;
  background-size: 200% auto;
}

/**************** hero part css end ****************/
/**************** exclusive_item_part css start ****************/
/* line 2, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_about_us.scss */
.about_us {
  position: relative;
  z-index: 1;
}

/* line 6, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_about_us.scss */
.about_us .single_feature_item {
  margin-bottom: 60px;
}

/* line 26, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_about_us.scss */
.about_us .single_feature_item:last-child {
  margin-bottom: 0px;
}

/* line 36, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_about_us.scss */
.about_us .single_feature_item .feature_item_icon {
  position: relative;
  z-index: 2;
}

/* line 39, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_about_us.scss */
.about_us .single_feature_item .feature_item_icon:after {
  position: absolute;
  content: "";
  left: 0px;
  top: -10px;
  height: 65px;
  width: 65px;
  background-color: #f2f7f9;
  z-index: -1;
  border-radius: 15px;
}

/* line 50, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_about_us.scss */
.about_us .single_feature_item .feature_item_icon span {
  top: 0;
  height: 65px;
  width: 65px;
  display: inline-block;
  color: #fff;
  border-radius: 15% 15% 80% 15% / 15% 15% 30% 15%;
  font-size: 35px;
  text-align: center;
  line-height: 65px;
  margin-left: 12px;
  margin-bottom: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* line 64, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_about_us.scss */
.about_us .single_feature_item .feature_item_icon span img {
  margin-bottom: 14px;
}

/* line 70, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_about_us.scss */
.about_us .single_feature_item h3 {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* line 74, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_about_us.scss */
.about_us .single_feature_item h3 a {
  color: #2c3033;
}

/* line 91, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_about_us.scss */
.about_us .amitated_icon_1 {
  position: absolute;
  left: 0%;
  top: 35%;
}

/* line 96, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_about_us.scss */
.about_us .amitated_icon_2 {
  position: absolute;
  left: 14%;
  top: 12%;
}

/* line 101, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_about_us.scss */
.about_us .amitated_icon_3 {
  position: absolute;
  left: 36%;
  bottom: 40%;
}

/* line 106, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_about_us.scss */
.about_us .amitated_icon_4 {
  position: absolute;
  right: 13%;
  top: 26%;
}

/* line 111, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_about_us.scss */
.about_us .amitated_icon_5 {
  position: absolute;
  right: 1%;
  top: 5%;
}

/* line 85, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_elements.scss */
b,
sup,
sub,
u,
del {
  color: #fa0347;
}

/* line 97, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_elements.scss */
h2 {
  font-size: 30px;
}

/* line 101, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_elements.scss */
h3 {
  font-size: 24px;
}

/* line 105, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_elements.scss */
h4 {
  font-size: 18px;
}

/* line 117, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_elements.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}

/* line 1093, E:/171 Fitzone Fitness/171_ Fitzone_Fitness_html/sass/_elements.scss */
.mb-30 {
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */