

.trainer-info {
	background-color: #cccccc;
	padding: 20px 0px 0px 35px;
	li {
		list-style: none;
	}
}

.ftco-social-media li a {
	display: block;
	width: 60px;
	height: 60px;
	background: #262626;
}

.ftco-social-media li a span {
	font-size: 24px;
}

.ftco-social-media li a:hover,
.ftco-social-media li a:focus {
	background: #ffffff;
}

.text .ftco-social-media li a:hover span,
.ftco-social-media li a:focus span {
	color: #000;
}

.ftco-social-media li a {
	display: block;
	width: 60px;
	height: 60px;
	background: #262626;
}
